footer.footer-10
  .container
    .row.mb-5.pb-3.no-gutters
      .col-md-4.mb-md-0.mb-4.d-flex
        .con.con-1.w-100.py-5
          .con-info.w-100.text-center
            .icon.d-flex.align-items-center.justify-content-center
              span.ion-ios-call
            .text
              span (+90) 1234 5678
      .col-md-4.mb-md-0.mb-4.d-flex
        .con.con-2.w-100.py-5
          .con-info.w-100.text-center
            .icon.d-flex.align-items-center.justify-content-center
              span.ion-ios-mail
            .text
              span contact@namariq.net
      .col-md-4.mb-md-0.mb-4.d-flex
        .con.con-3.w-100.py-5
          .con-info.w-100.text-center
            .icon.d-flex.align-items-center.justify-content-center
              span.ion-ios-pin
            .text
              span 203 King Fahad St, Quarter, Riyadh, KSA
    .row
      .col-md-7
        .row
          .col-md-4.mb-md-0.mb-4
            h2.footer-heading About
            ul.list-unstyled
              li
                a.d-block(href='#') Our story
              li
                a.d-block(href='#') Awards
              li
                a.d-block(href='#') Our Team
              li
                a.d-block(href='#') Career
          .col-md-4.mb-md-0.mb-4
            h2.footer-heading Company
            ul.list-unstyled
              li
                a.d-block(href='#') Our services
              li
                a.d-block(href='#') Clients
              li
                a.d-block(href='#') Contact
              li
                a.d-block(href='#') Press
          .col-md-4.mb-md-0.mb-4
            h2.footer-heading Resources
            ul.list-unstyled
              li
                a.d-block(href='#') Blog
              li
                a.d-block(href='#') Newsletter
              li
                a.d-block(href='#') Privacy Policy
      .col-md-5.mb-md-0.mb-4
        h2.footer-heading Subscribe
        form.subscribe-form(action='#')
          .form-group.d-flex
            input.form-control.rounded-left(
              type='text',
              placeholder='Enter email address'
            )
            button.form-control.submit.rounded-right(type='submit') Subscribe
          span.subheading Get digital marketing updates in your mailbox
    .row.mt-5.pt-4.border-top
      .col-md-6.col-lg-8.mb-md-0.mb-4
        p.copyright.mb-0
          | &copy; NAMARIQ &nbsp;
          script.
            document.write(new Date().getFullYear());
          | &nbsp; All rights reserved.
      .col-md-6.col-lg-4.text-md-right
        ul.ftco-footer-social.p-0
          li.ftco-animate
            a(
              href='#',
              data-toggle='tooltip',
              data-placement='top',
              title='Twitter'
            )
              span.ion-logo-twitter
          li.ftco-animate
            a(
              href='#',
              data-toggle='tooltip',
              data-placement='top',
              title='Facebook'
            )
              span.ion-logo-facebook
          li.ftco-animate
            a(
              href='#',
              data-toggle='tooltip',
              data-placement='top',
              title='Instagram'
            )
              span.ion-logo-instagram
script(type='text/javascript').
  (function (I, L, T, i, c, k, s) {
    if (I.iticks) return;
    I.iticks = { host: c, settings: s, clientId: k, cdn: L, queue: [] };
    var h = T.head || T.documentElement;
    var e = T.createElement(i);
    var l = I.location;
    e.async = true;
    e.src = (L || c) + '/client/inject-v2.min.js';
    h.insertBefore(e, h.firstChild);
    I.iticks.call = function (a, b) {
      I.iticks.queue.push([a, b]);
    };
  })(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'jCBdLBjrsx978k6JL_c', {});
